<!DOCTYPE html>
<html>
    <head>
        <title>Experiment</title>

                
        <script src="./static/jquery.js" type="text/javascript"></script>
        <script src="./static/angular.js" type="text/javascript"></script>
        <script src="./js/index.js" type="text/javascript"></script>
        <script src="./static/declare.js" type="text/javascript"></script>
        <script src="./static/services.js" type="text/javascript"></script>
        <script src="./static/directives.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" href="./static/bootstrap.css"/>
        <link rel="stylesheet/less" type="text/css" href="./styles/styles.less"/>
        <script src="./static/less.js" type="text/javascript"></script>

    </head>
    <body ng-app="vixis" class="ng-scope">

    <div class="page-header">
      <h1>Example <small>angularplasmid</small></h1>
    </div>

    <div class="content container ng-scope" ng-controller="plasmidCtrl">

        <div class="row">
            <div class="col-xs-9">

                <h5>result</h5>

                <plasmidapi name="api"></plasmidapi>

                <plasmid sequencelength="{{length}}" plasmidheight="500" plasmidwidth="500">
                    <plasmidtrack trackstyle="fill:rgba(225,225,225,0.5)" radius="150">
                        <tracklabel text="{{label}}"        class="p-label"></tracklabel>
                        <tracklabel text="{{description}}"  class="p-description" vadjust="20"></tracklabel>
                        <trackscale interval="{{interval/10}}" style='stroke:#999' ticksize="3" direction="in" ></trackscale>
                        <trackscale interval="{{interval}}" style="stroke:#f00" direction="in" showlabels="1" labelstyle="fill:#999;stroke:none;text-anchor:middle;alignment-baseline:middle;font-size:10px"></trackscale>
                        
                        <trackmarker
                            markerclass="markerhover"
                            ng-repeat="p in selectedPrimers"
                            start="{{p.start}}"
                            end="{{p.end}}"
                            style="fill:#ffffff"
                            wadjust="0"
                            markerclick="markerClick($event,$marker)"
                        >

                            <markerlabel text="{{p.start}}" vadjust="40" hadjust="0" valign="inner" style="font-size:14px;font-weight:400;fill:#00c" showline="1" linevadjust="0" linevadjust="0" linelabelstyle="stroke:#00c;stroke-dasharray:2,2;stroke-width:2px;"></markerlabel>
<!--                             <markerlabel labelclass="regionlabel" text="{{p.name}}" type="path" style="fill:rgba(0,128,0,.6)" vadjust="40"></markerlabel>
 -->                            <!-- <markerlabel type="path" labelstyle="font-size:7px; font-weight:400; kerning:1.1" text="{{p.s3}}" halign="center" vadjust="5"></markerlabel>
                            <markerlabel type="path" labelstyle="font-size:7px; font-weight:400; kerning:1.1" text="{{p.s5}}" halign="center" vadjust="-15"></markerlabel>
                         -->
                        </trackmarker>

                    </plasmidtrack>
                </plasmid>

             </div>
            <div class="col-xs-1">
                
                <h5>length</h5>

                <div class="btn-group-vertical">
                    <button
                        class="btn"
                        ng-class="control.length==l ? 'btn-success': 'btn-default'"
                        ng-repeat="l in control.lengths"
                        type="button"
                        ng-click="setSeqByLen(l)"
                    >
                        {{l}}
                    </button>
                </div>

            </div>


            <div class="col-xs-1"></div>


            <div class="col-xs-1">
                
                <h5>primers</h5>

                <div class="btn-group-vertical">
                    <button
                        class="btn"
                        ng-class="selectedPrimerGroups[p.name] ? 'btn-success': 'btn-default'"
                        ng-repeat="p in primers | filter: primerHasMatches"
                        type="button"
                        ng-click="selectPrimerGroup(p)"
                    >
                        {{p.name}}
                    </button>
                </div>

            </div>
        </div>

        <div class="panel panel-info" ng-show="selectedmarker">
            <div class="panel-heading">
                <h1 id="markerpopupheader" class="panel-title">{{selectedmarker.labels[0].text}} [{{selectedmarker.start}} - {{selectedmarker.end}}]</h1>
            </div>
            <div id="markerpopuptext" class="panel-body">
                <div class="strand">
                    <span class="strand-label">3`</span>
                    <span class="strand-s3et btn btn-sm btn-danger" ng-repeat="s3et in s3 track by $index">{{s3et}}</span>
                </div>
                <div class="strand">
                    <span class="strand-label">5`</span>
                    <span class="strand-s5et btn btn-sm btn-primary" ng-repeat="s5et in s5 track by $index">{{s5et}}</span>
                </div>
            </div>
        </div>

    </div>

    </body>
<html>