
.markerhover:hover {
  stroke: #f00;
  stroke-width: 2px;
}

.p{
    &-label{
        font-size:20px;
    }

    &-description{
        font-size:13px;
    }
}

.strand{
    
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    
    &-s3et{
        font-family: monospace;
        margin-right: 1em;
    }
    
    &-s5et{
        font-family: monospace;
        margin-right: 1em;
    }
    
    &-label{
        display: inline-block;
        padding: 0 .5em;
        color: black;
        font-size: 2em;
    }
}
